files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            */50 * * * * root /usr/local/bin/fetch.sh

    "/usr/local/bin/fetch.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            date > /tmp/date
            # Your actual script content

            cd /var/app/current/bahea_cal
            source /var/app/venv/*/bin/activate && python3 fetch.py
            exit 0

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/mycron.bak"